In [ ]:
# import  nltk.translate.bleu_score as bleu
import numpy as np
import pandas as pd
from nltk.translate.bleu_score import corpus_bleu

In [ ]:
df = pd.read_csv('/content/outputs_org.txt', delimiter = " ")
df2 = pd.read_csv('/content/outputssss - Copy.txt', delimiter = " ")

In [ ]:
a = df['predicted'].to_list()
new = []
for i in a:
  y = i.split()
  new.append(y)

actual = new

In [ ]:
b = df2['actual'].to_list()
new2 = []
for i in b:
  y = i.split()
  new2.append(y)

predicted = new2

In [ ]:

print('BLEU-1: %f' % corpus_bleu(actual, predicted, weights=(1.0, 0, 0, 0)))
print('BLEU-2: %f' % corpus_bleu(actual, predicted, weights=(0.5, 0.5, 0, 0)))
print('BLEU-3: %f' % corpus_bleu(actual, predicted, weights=(0.3, 0.3, 0.3, 0)))
print('BLEU-4: %f' % corpus_bleu(actual, predicted, weights=(0.25, 0.25, 0.25, 0.25)))

BLEU-1: 0.137363
BLEU-2: 0.370625
BLEU-3: 0.551265
BLEU-4: 0.608790

/usr/local/lib/python3.7/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

In [ ]:
df3 = pd.DataFrame(columns = ['ID','Actual','Predicted'])
df3['ID'] = df['ID']
df3['Actual'] = df['predicted']
df3['Predicted'] = df2['actual']

In [ ]:
df4 = df3.style.set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
df4